.group-watching-box {
    width: 60rem;
    height: 35rem;
    position: absolute;
    z-index: 9999999999999;
    opacity: 0;
    transition: 0.4s all;
    background-color: rgb(45, 45, 45);
    top: 35rem;
    right: 65rem;
    border-radius: 2rem;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

.group-watching-item-box {
    width: 20rem;
    height: 8rem;
    border-radius: 1rem;
    color: white;
    font-size: 3rem;
    margin: 0 2rem;
    border: 0.3rem solid white;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

.group-watching-item-box.active {
    border: 0.3rem solid rgb(14, 195, 14) !important;
}