.keyboard-box {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.keyboard-row-box {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    margin-top: 1.7rem;
}

.keyboard-row-item-box {
    color: white;
    font-size: 3rem;
    width: 7.9rem;
    height: 7.7rem;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    /* background: rgba(30, 31, 32, 0.45); */
    margin-left: 1rem;
    border: 0.3rem solid rgba(255, 255, 255, 0.11);
    border-radius: 1rem;
}

.keyboard-row-item-box:nth-child(3) {
    margin-right: 3.5rem;
}

.keyboard-row-item-box.active {
    border: 0.3rem solid rgba(62, 255, 14, 1);
}

.keyboard-item-img-box {

}