.menu-page-box {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-logo-box {
    margin-top: 12.7rem;
}

.menu-content-box {
    display: flex;
    margin-top: 8.5rem;
}

.menu-card-box {
    width: 39rem;
    height: 39rem;
    border-radius: 50%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 4rem;
    border: 0.3rem solid transparent;
    transition: 0.2s linear;
    border: 0.3rem solid rgba(255, 255, 255, 0.188);
}

.menu-card-box.active {
    border: 0.3rem solid rgb(62, 255, 14) !important;
    transform: scale(1.1);
}

.menu-card-box:nth-child(1) {
    margin-left: 0rem;
}

.menu-card-poster-box {
    width: 15rem;
    height: 15rem;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(77, 79, 82);
    border-radius: 50%;
}

.menu-card-poster-box>img {
    user-select: none;
}

.menu-card-poster-box.active {
    background-color: rgb(46, 163, 16) !important;
}

.menu-card-name-box {
    font-weight: 700;
    color: rgb(253, 253, 253);
    font-size: 3rem;
    margin-top: 4rem;
    width: 20rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

.menu-exit-parent-box {
    position: absolute;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.541);
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s all;
    opacity: 0;
}

.menu-exit-box {
    height: 55rem;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 150rem;
    border-radius: 2rem;
}

.menu-exit-item-box {
    width: 30rem;
    height: 7rem;
    border-radius: 3rem;
    color: white;
    font-size: 2.8rem;
    font-weight: 800;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.188);
    margin: 0rem 3rem;
}

.menu-exit-item-box:nth-child(2) {
    background-color: rgb(255, 0, 0);
}

.menu-exit-item-box.active {
    background-color: rgba(62, 255, 14, 0.723) !important;
}