.settings-page-box {
    height: 100vh;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}

.settings-page-header-box {
    position: absolute;
    top: 5rem;
    left: 5rem;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

.settings-header-back-box {
    width: 7.3rem;
    height: 7.3rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.08);
    border: 0.3rem solid transparent;
}

.settings-header-back-box.active {
    border: 0.3rem solid rgb(62, 255, 14) !important;
}

.settings-header-title-box {
    margin-left: 0.8rem;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    color: rgb(253, 253, 253);
    width: 66.3rem;
    height: 7.3rem;
    padding: 2rem 3rem;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 2rem;
}

.settings-items-box {
    width: 72rem;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
}

.settings-item-box {
    width: 71.8rem;
    height: 8.9rem;
    margin-top: 1.6rem;
    border: 0.3rem solid rgba(255, 255, 255, 0.271);
    border-radius: 1.8rem;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    position: relative;
}

.settings-item-box.active {
    border: 0.3rem solid rgb(62, 255, 14) !important;
}

.settings-item-img-box {
    width: 3rem;
    height: 3rem;
    margin-left: 3.4rem;
}

.settings-item-name-box {
    margin-left: 2.8rem;
    color: rgb(253, 253, 253);
    font-size: 2.4rem;
    font-weight: 700;
}

.settigs-item-check-box {
    width: 8rem;
    height: 4.5rem;
    position: absolute;
    right: 2rem;
    border-radius: 5rem;
    background: linear-gradient(141deg, rgb(57, 179, 42) 0%, rgb(58, 141, 75) 100%);
    display: flex;
    display: -webkit-flex;
    align-items: center;
}

.check-button-box {
    width: 3.5rem;
    height: 3.5rem;
    background-color: white;
    border-radius: 50%;
    transition: 0.2s linear;
    transform: translateX(38px);
}

.settings-log-out-box {
    position: absolute;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.541);
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s all;
    opacity: 0;
}

.log-out-box {
    height: 55rem;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 150rem;
    border-radius: 2rem;
}

.log-out-item-box {
    width: 30rem;
    height: 7rem;
    border-radius: 3rem;
    color: white;
    font-size: 2.8rem;
    font-weight: 800;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.188);
    margin: 0rem 3rem;
}

.log-out-item-box:nth-child(2) {
    background-color: rgb(255, 0, 0);
}

.log-out-item-box.active {
    background-color: rgba(62, 255, 14, 0.723) !important;
}

.settings-parental-code-page {
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-image: url(../images/Bg.png);
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.settings-parental-back-box {
    width: 7.3rem;
    height: 7.3rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.08);
    border: 0.3rem solid transparent;
    position: absolute;
    top: 5rem;
    left: 5rem;
}

.settings-parental-back-box.active {
    border: 0.3rem solid rgb(62, 255, 14) !important;
}

.parental-code-inputs-page-box {
    width: 100rem;
    height: 43.5rem;
    border-radius: 2rem;
    background-color: rgb(15, 16, 16);
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
}

.parental-code-inputs-title-box {
    font-size: 4rem;
    color: white;
    font-weight: 500;
    margin-top: 6rem;
}

.parental-code-inputs-box {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
}

.parental-code-inputs-item-box {
    width: 16.4rem;
    height: 16.9rem;
    margin-left: 3.5rem;
    background: rgb(32, 32, 32);
    border-radius: 2rem;
    border: 0.1rem solid rgb(59, 59, 60);
    text-align: center;
    color: white;
    font-size: 8rem;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}

.parental-code-inputs-item-box.active {
    border: 0.3rem solid rgb(62, 255, 14) !important;
}

.parental-code-inputs-item-box:nth-child(1) {
    margin-left: 0;
}

.parental-keyboard-box {
    position: absolute;
    bottom: 3rem;
    display: flex;
    font-size: 4rem;
    color: white;
    align-items: center;
    justify-content: center;
}

.parental-keyboard-item-box {
    width: 7.9rem;
    height: 7.7rem;
    background: rgb(32, 32, 32);
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    margin-left: 1.5rem;
}

.parental-keyboard-item-box.active {
    border: 0.3rem solid rgb(62, 255, 14) !important;
}

.parental-keyboard-item-box:nth-child(1) {
    margin-left: 0rem;
}

.wrong-pin {
    position: absolute;
    top: -28rem;
    font-size: 4rem;
    color: red;
    text-align: center;
}

.confirm-new-pin {
    position: absolute;
    top: -28rem;
    font-size: 4rem;
    color:green;
}

.settings-lock-categories-page-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 2rem 5rem;
    background-image: url(../images/Bg.png);
}

.settings-lock-categories-back-box {
    width: 7.3rem;
    height: 7.3rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.08);
    border: 0.3rem solid transparent;
    position: absolute;
    top: 5rem;
    left: 5rem;
}

.settings-lock-categories-back-box.active {
    border: 0.3rem solid rgb(62, 255, 14) !important;
}

.settings-lock-categories-content-box {
    position: absolute;
    height: 90rem;
    top: 15rem;
    display: flex;
    display: -webkit-flex;
}

.lock-categories-row-box {
    width: 42.5rem;
    margin-left: 12rem;
}

.lock-categories-row-box:nth-child(1) {
    margin-left: 0rem;
}

.lock-categories-row-title-box {
    color: white;
    font-size: 2.6rem;
    font-weight: 700;
    width: 38rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lock-categories-row-list-box {
    height: 87rem;
    overflow: hidden;
    margin-top: 2.6rem;
}

.lock-categories-row-list-content-box {
    transition: 0.3s;
}

.lock-categories-row-item-box {
    height: 8.2rem;
    width: 100%;
    border-radius: 2rem;
    border: 0.3rem solid rgba(255, 255, 255, 0.161);
    margin-top: 2.6rem;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.lock-categories-row-item-box.active {
    background-color:rgb(44, 153, 17) !important;
}

.lock-categories-row-item-box:nth-child(1) {
    margin-top: 0;
}

.lock-categories-row-item-name-box {
    color: white;
    font-size: 2.7rem;
    width: 20rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.lock-categories-row-item-lock-box {
    position: absolute;
    width: 4rem;
    height: 4rem;
    right: 2rem;
}

.settings-language-page-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(./../images/Bg.png);
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

.settings-language-back-box {
    width: 7.3rem;
    height: 7.3rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.08);
    border: 0.3rem solid transparent;
    position: absolute;
    top: 5rem;
    left: 5rem;
}

.settings-language-back-box.active {
    border: 0.3rem solid rgb(62, 255, 14) !important;
}

.settings-langugae-content-box {
    width: 71.8rem;
}

.settings-language-item-box {
    width: 100%;
    height: 8.9rem;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    position: relative;
    border-radius: 2rem;
    margin-top: 1.5rem;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.051);
    border: 0.3rem solid rgba(255, 255, 255, 0.169);
}

.settings-language-item-box.active {
    border: 0.3rem solid rgb(62, 255, 14) !important;
}

.settings-language-item-icon-box {
    position: absolute;
    left: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
}

.settings-language-item-name-box {
    font-size: 2.4rem;
    color: white;
    font-weight: 700;
    margin-left: 5rem;
}

.settings-language-item-flag-box {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    margin-right: 2rem;
}